<div class="btn-group my-1" style="width:100%;">
    <a class="btn btn-sm btn-outline-primary" href="/editor">Editor</a>
    <a class="btn btn-outline-primary" href="/favorites">Favorites</a>
    @*    <button class="btn btn-sm btn-outline-primary">Favo</button>
    <button class="btn btn-sm btn-outline-primary">
        <i class="bi bi-volume-mute"></i>
    </button>*@
</div>