@using M3UManager.UI.Components
@using M3UManager.Models

<ChannelsDisplay @ref="channelsDisplay"
               Channels="@Channels"
               SelectedChannel="@selectedChannel"
               OnChannelSelected="OnChannelSelected"
               OnPlay="PlayChannel"
               OnToggleFavorite="ToggleFavorite"
               OnDelete="RemoveChannel"
               OnShowEpisodes="ShowEpisodes"
               IsChannelFavorite="IsChannelInFavorite"
               ShowActions="true"
               ShowSearch="true"
               InitialViewMode="DisplayMode.List" />

<!-- Series Episodes Viewer -->
<SeriesEpisodesViewer @ref="episodesViewer"
                     IsVisible="showEpisodes"
                     OnClose="CloseEpisodes"
                     OnEpisodeSelected="PlayEpisode"
                     UseImageProxy="true" />

@for (int i = 0; i < 100; i++)
{
    <div class="indicator hiden"></div>
}
